<div id="winner_<%= dom_id(game)%>" >
  <%= turbo_stream_from "winner_#{dom_id(game)}" %>
  <% if game.complete? %>
    <%= link_to 'The champion is..', final_game_path(game), class: 'btn btn-danger', role: 'button' %>
  <% else  %>
    <h1>Waiting for your opponent to strike</h1>
  <% end %>
  <%# raise %>
</div>
