<div class="load mt-5">
  <h1 class="text-center">GLOVES READY?</h1>


  <div class="play-button-container mt-5">
    <%= render 'ready', game: @game %>
    <%#= link_to "Play", game_round_path(@game, @game.rounds.first),class:"play-button"  %>
  </div>

</div>
