<h1>Step into the ring</h1>
<%= simple_form_for(@game) do |f| %>
  <div class="field">
    <%= f.input :user_id,
          label: "Challenger",
          as: :string,
          input_html: {
            id: 'challenger-search',
            placeholder: 'search opponent',
            class: 'form-control'
          }
    %>
    <div id="challenger-results" style="display: none;"></div>
  </div>

  <div class="field">
    <%= f.input :category_ids, collection: @categories, as: :check_boxes, label: "Select Categories" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

