<h1>Step into the ring</h1>

<div class="game-card">
  <div class="game-new">

    <%= simple_form_for(@game) do |f| %>
      <div class="field">
        <%= f.input :user_id,
          label: "Challenger",
          as: :select,
          collection: @users,
          input_html: {
            id: 'challenger-search',
            class: 'form-control'
          },
          include_blank: 'Search and select opponent' %>
      </div>

      <div class="field">
        <%= f.input :category_ids, collection: @categories, as: :check_boxes, label: "Select Categories" %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
