<div class="results-container">
  <h1 class="text-center">Game over</h1>
  <h2>You answered</h2>
  <h2><%= @score %> / <%= @rounds %> </h2>

  <h2>questions correctly</h2>
  <br>
  <br>
  <br>
  <br>
  <%= render 'winner', game: @game %>
  </div>
</div>
