<div class="results-container">

  <div>

    <h1>You answered</h1>

    <h1><%= @score %> / <%= @rounds %> questions</h1>

    <h1>Correctly</h1>

    <%= render 'winner', game: @game %>
  </div>
</div>
