<%= button_to "Play", play_game_path(@game), method: :post, class: "btn btn-primary"  %>
<%# <p>Opponent <%= @game.opponent.nickname %></p>
<p>Categories: <%= @game.categories.map(&:name).join(", ") %></p>
