.container {
  text-align: center;
  padding: 50px;
  
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 20px;
}

.play-button {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(45deg, #f44336,#f44336);
  color: white;
  padding: 20px 40px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s ease;
}

.play-button:hover {
  background: linear-gradient(45deg, #ff7f50, #ff4500);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.play-button:active {
  background: linear-gradient(45deg, #ff4500, #ff7f50);
  transform: translateY(0);
}
