.title {
  color: #ff4757;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 30px 0;
}

.form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  border: 3px solid #ff4757;
  box-shadow: 0 8px 40px rgba(255, 71, 87, 0.7);
  min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question-content {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: $dark-blue;
}

.answer-list {
  list-style-type: none;
  padding: 0;
}

.answer-item {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #ff4757;
}

.answer-radio {
  margin-right: 10px;
}

.no-question {
  text-align: center;
  font-size: 1.2rem;
  color: #ffcc00;
}

.back-btn {
  margin-top: 20px;
  background-color: #ffcc00;
  border: 2px solid #d0021b;
  color: #000;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #ffd700;
}

.answer-btn {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background-color: #d0021b;
  border: 2px solid #ffcc00;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.answer-btn:hover {
  background-color: #ff4757;
}

.answer-btn:active {
  background-color: #ffcc00;
  border-color: #d0021b;
}

.answer-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-height: 30vh;
  justify-content: space-evenly;
}

.hidden-radio {
  display: none;
}


.githubsmall{
  border-radius: 100px;
  width: 40px;
}
