.btn, .button {
  background-color: #ff4757;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.btn:hover, .button:hover {

  transform: scale(1.05);
}

.btn {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  background-color: $btn-blue;
  
}

.submit-btn {
  background-color: $btn-blue;
  border: 3px solid $btn-blue;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white
}

.submit-btn:hover {
  background-color: black;
  border: 3px solid black;
}

.back-btn {
  margin-top: 20px;
  background-color: #ffcc00;
  border: 2px solid $btn-blue;
  color: #000;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #ffd700;
}

.btn {
  padding: 8px;
  font-size: 1.3rem;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  background-color: $btn-blue;
}

.fight-btn {
  background-color: #d0021b;
  border: 3px solid #ffcc00;

}

.fight-btn:hover {
  background-color: #ff0000;
  box-shadow: 0 10px 30px rgba(255, 0, 0, 0.5);
}



.selectable-btn {
  width: 60%;
  padding: 10px 20px;
  background-color: #d0021b;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.selectable-btn:hover {
  background-color: #975c61;
}

.hidden-radio:checked + .selectable-btn {
  background-color: $light-blue;
  border-color: $light-blue;
  color: $dark-blue;
}


.play-now-btn {
  padding: 8px;
    font-size: 0.8rem;
    border-radius: 8px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: #fff;
    background-color: #015a86;
}
